@charset "utf-8";
/* CSS Document */

.parallax {
    /* The image used */
    /*background-image: url("img_parallax.jpg");*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darken_image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: black;
}

.container_darken {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}

.container_darken:hover .darken_image {
    opacity: 0.75;
}

.parallax-window
{
    min-height: 400px;
    background: transparent;
}

.hide_nav {

}

.container_hide_nav{

}

.container_hide_nav:hover .hide_nav{

}